<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<section id="show-page">
    <div>Name: </div>
    <div>
      <%= profile.name %>
    </div>
    <div>Date of Birth: </div>
    <div>
      <%= profile.dateOfBirth.toISOString().slice(0, 10) %>
    </div>
    <% if(!profile.insurance) { %>
    <div>Insurance: </div>
    <div>
        <%= profile.insName %>
      </div>

    <% } else { %>
    <div>
      No insurance
    </div>
    <% } %>
  </section>
  <a href="/profiles/<%= profile._id %>/pharmacy/new">Add Pharmacy</a><br>
<a href="/profiles/<%= profile._id %>/medications/new">Add Medication</a>

<% if (profile.medications.length) { %>
  <section id="medication-list">
    <table>
      <thead>
        <tr>
          <th>Edit</th>
          <th>Medication</th>
          <th>Directions</th>
          <th>Qty</th>
          <th>Day Supply</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% profile.medications.forEach(function(m) { %>
          <tr>
            <td><a href="/profiles/<%= profile._id %>/medications/<%= m._id %>/edit"><img src="/images/edit.png" width="20px" height="20px"></a>
            <td><%= m.medName %> <%= m.dosage %></td>
            <td><%= m.directions %></td>
            <td><%= m.quantity %></td>
            <td><%= m.daySupply %></td>
            <td>
                <form action="/medications/<%= m._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
            </td>
          </tr>
          <% }); %>
          <% } else { %>
            <h5>No Medication Added Yet</h5>
            <% } %>
      </tbody>
    </table>
  </section>
