<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<p>Welcome to <%= title %></p>

<a href="/profiles" class="btn btn-outline-primary"> Back</a>
<section id="show-page">
    <div class="container text-center col-md-3">
  <div class="card">
    <div class="card-header" style="background-color: #98c7e2;">
     <h5> <%= profile.name %></h5>
     Relationship: <%= profile.relationship %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #d7eaf4;"> <div>Date of Birth: </div>
        <div>
          <%= profile.dateOfBirth.toISOString().slice(0, 10) %>
        </div></li>
      <li class="list-group-item"  style="background-color: #d7eaf4;"><% if(profile.insName) { %>
        <div>Insurance: </div>
        <div>
            Name: <%= profile.insName %>
          </div>
          <div>
            Member ID: <%= profile.memberId %>
          </div>
          <div>
            Group #: <%= profile.group %>
          </div>
          <div>
            Bin #: <%= profile.binNo %>
          </div>
          <div>
            PCN: <%= profile.pcn %>
          </div>
    
        <% } else { %>
        <div>
          No insurance
        </div>
        <% } %>
    </li>
      <li class="list-group-item"  style="background-color: #d7eaf4;">  <% if(pharmacy) { %>
    <div>Pharmacy Info.:</div>
        <div>Pharmacy Name: <%= pharmacy.pharmName %>
    </div>
    <div>Address: <%= pharmacy.address %>
      </div>
      <div>Phone Number: <%= pharmacy.phoneNo %>
        </div>

        <div>
          <form action="/profiles/<%= profile._id %>/pharmacy/<%= pharmacy.id %>/?_method=DELETE" method="POST">
            <input type="image" src="/images/delete.png" width="20px" height="20px"></input>
            </form>
        </div>

    <% } else { %>
    <div>
      No Pharmacy listed <br>
      <a href="/profiles/<%= profile._id %>/pharmacy/new">Add Pharmacy</a><br>
    </div>
    <% } %></li>
    </ul>
  </div>

</section>

  <%- include('../partials/footer') %>