<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<section id="show-page">
    <div>Name: </div>
    <div>
      <%= profile.name %>
    </div>
    <div>Date of Birth: </div>
    <div>
      <%= profile.dateOfBirth %>
    </div>
    <% if(!profile.insurance) { %>
    <div>Insurance: </div>
    <div>
        <%= profile.insName %>
      </div>

    <% } else { %>
    <div>
      No insurance
    </div>
    <% } %>
  </section>
