<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<section id="show-page">
    <div>Name: </div>
    <div>
      <%= profile.name %>
    </div>
    <div>Date of Birth: </div>
    <div>
      <%= profile.dateOfBirth.toISOString().slice(0, 10) %>
    </div>
    <% if(!profile.insurance) { %>
    <div>Insurance: </div>
    <div>
        <%= profile.insName %>
      </div>

    <% } else { %>
    <div>
      No insurance
    </div>
    <% } %>
  </section>

  <section id="medication-list">
    <table>
      <thead>
        <tr>
          <th>Medication</th>
          <th>Directions</th>
          <th>Qty</th>
          <th>Day Supply</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% profile.medications.forEach(function(m) { %>
          <tr>
            <td><a href="/profiles/<%= profile._id %>/medications/<%= m._id %>/edit"><%= m.medName %> <%= m.dosage %></a></td>
            <td><%= m.directions %></td>
            <td><%= m.quantity %></td>
            <td><%= m.daySupply %></td>
            <td>
                <form action="/medications/<%= m._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </section>

  <form action="/profiles/<%= profile._id %>/medications" method="POST" autocomplete="off">
    <label>Medication Information:</label><br><br>
    <label>Medication Name:</label>
    <input type="string" name="medName"><br>
    <label>Dosage:</label>
    <input type="string" name="dosage"><br>
    <label>Directions:</label>
    <input type="string" name="directions"><br>
    <label>Quantity:</label>
    <input type="number" min="1" name="quantity"><br>
    <label>Day Supply:</label>
    <input type="number" min="1" name="daySupply">
    <br>
    <input type="submit" value="Add Medication">
    </form>